{% extends "admin/base.html" %}
{% load static %}
{% block content %}
<div
  class="flex min-h-screen justify-center py-12 px-4 sm:px-6 lg:px-8"
>

  <h1>Compute overview</h1>

  <p>IP: {{ compute.hostname }}</p>
  <p>Region: {{ compute.region.name }}</p>
  <p>Active: {{ compute.is_active }}</p>
  <p>Description: {{ compute.description }}</p>

  <p>Hostname: {{ host_overview.host.hostname }}</p>
  <p>Arch: {{ host_overview.host.arch }}</p>
  <p>CPUs: {{ host_overview.host.cpus }}</p>
  <p>Memory: {{ host_overview.host.memory|filesizeformat }}</p>
  <p>Processor: {{ host_overview.host.processor }}</p>
  <p>URI: {{ host_overview.host.connection }}</p>
  
  <p>CPU usage: {{ host_overview.cpu.usage }}%</p>
  <p>Memory Used: {{ host_overview.memory.usage|filesizeformat }}</p>
  
</div>
</div>
{% endblock %}
