{% extends "admin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div
  class="flex min-h-screen justify-center py-12 px-4 sm:px-6 lg:px-8"
>

  <h1>Compute overview</h1>

  <p>IP: {{ compute.hostname }}</p>
  <p>Region: {{ compute.region.name }}</p>
  <p>Active: {{ compute.is_active }}</p>
  <p>Description: {{ compute.description }}</p>

  <p>
    {{ storage_pool }}
  </p>

</div>


<p>State form</p>
<form method="post">
  {% crispy form_state %}
  <input type="submit" value="Submit" />
</form>

<p>Autostart form</p>
<form method="post">
  {% crispy form_start %}
  <input type="submit" value="Submit" />
</form>

</div>
{% endblock %}
