{$ASSETS_DOMAIN}:80 {
  root * /usr/share/caddy/assets/
  file_server
}

{$ASSETS_DOMAIN}:443 {
  tls internal
  root * /usr/share/caddy/assets/
  file_server
}

{$CLIENT_DOMAIN}:80 {
  root * /usr/share/caddy/client/
  file_server
}

{$CLIENT_DOMAIN}:443 {
  tls internal
  root * /usr/share/caddy/client/
  file_server
}

{$API_DOMAIN}:80 {
  redir /admin / 301
  redir /metadata / 301

  handle /favicon.ico {
    file_server
  }
  handle /robots.txt {
    file_server
  }
  handle /admin* {
    redir / 301
  }
  handle /metadata* {
    redir / 301
  }
  
  handle_path /account/* {
    rewrite * /account{uri}
    reverse_proxy http://backend:8000 {
      header_up Host {host}
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-For {remote}
      header_up X-Real-IP {remote}
    }
  }

  handle_path /v1/* {
    rewrite * /api/v1{uri}
    reverse_proxy http://backend:8000 {
      header_up Host {host}
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-For {remote}
      header_up X-Real-IP {remote}
    }
  }
}

{$API_DOMAIN}:443 {
  tls internal
  redir /admin / 301
  redir /metadata / 301

  handle /favicon.ico {
    file_server
  }
  handle /robots.txt {
    file_server
  }
  handle /admin* {
    redir / 301
  }
  handle /metadata* {
    redir / 301
  }
  
  handle_path /account/* {
    rewrite * /account{uri}
    reverse_proxy http://backend:8000 {
      header_up Host {host}
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-For {remote}
      header_up X-Real-IP {remote}
    }
  }

  handle_path /v1/* {
    rewrite * /api/v1{uri}
    reverse_proxy http://backend:8000 {
      header_up Host {host}
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-For {remote}
      header_up X-Real-IP {remote}
    }
  }
}

{$MANAGE_DOMAIN}:80 {
  redir / /admin 301
  reverse_proxy http://backend:8000
}

{$MANAGE_DOMAIN}:443 {
  tls internal
  redir / /admin 301
  reverse_proxy http://backend:8000
}

{$CONSOLE_DOMAIN}:80 {
  reverse_proxy http://novnc:6080
} 

{$CONSOLE_DOMAIN}:443 {
  tls internal
  reverse_proxy http://novnc:6080
} 

169.254.169.254:80 {
  handle_path /metadata/* {
    rewrite * /metadata{uri}
    reverse_proxy http://backend:8000 {
      header_up Host {host}
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-For {remote}
      header_up X-Real-IP {remote}
    }
  }
}