{% for message in messages %}
<div
  class="rounded-md p-4 {% if message.tags == 'error'%}bg-red-50{% else %}bg-green-50{% endif %}"
>
  <div class="flex">
    <div class="flex-shrink-0">
      <svg
        class="h-5 w-5 {% if message.tags == 'error'%}text-red-400{% else %}text-green-400{% endif %}"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="ml-3">
      <h3
        class="text-sm font-medium {% if message.tags == 'error'%}text-red-800{% else %}text-green-800{% endif %}"
      >
        {% if message.tags == 'error'%}Error{% else %}Success{% endif %}
      </h3>
      <p
        class="mt-2 text-sm {% if message.tags == 'error'%}text-red-700{% else %}text-green-700{% endif %}"
      >
        {{ message }}
      </p>
    </div>
  </div>
</div>
{% endfor %}
