{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="icon"
      type="image/svg+xml"
      href="{% static 'admin/svg/favicon.svg' %}"
    />
    <title>WebVirtCloud — Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="h-full overflow-hidden">
    <div class="flex h-full">
      {% include 'admin/sidebar.html' %}
      <div class="flex min-w-0 flex-1 flex-col overflow-hidden">
        <div class="relative z-0 flex flex-1 overflow-hidden">
          <main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
            <div class="max-w-7xl mx-auto p-8">
              {% block content %}{% endblock %}
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
