{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="icon"
      type="image/svg+xml"
      href="{% static 'admin/svg/favicon.svg' %}"
    />
    <title>WebVirtCloud — Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="flex min-h-screen items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
    >
      <h2
        class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      >
        You're sign out...
      </h2>
    </div>
  </body>
</html>
